<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main Page</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>       
      <main class="portfolio-container">

        <section class="left-side">
          <p class="greeting">Hi, I am</p>
          <h1 class="name">
            <span class="first-name">Mikhail</span>
            <span class="last-name">Rapada</span>
          </h1>

          <div class="description-container">
            <p class="description">
              A versatile computer engineering student that can handle both software and hardware aspects of technology.
            </p>
          </div>
        </section>


        <section class="right-side">
          <div class ="top-boxes">
            <a href="projects.html" class="box">
              <h2>3</h2>
              <p class="project-box-description">Completed Projects</p>
            </a>
      
            <a href="tutoring.html" class="box">
              <h2>2</h2>
              <p class="tutor-box-description">Years Tutoring</p>
            </a>

            <section class="middle-box-container">
              <p class="skills-box">Skills</p>
                <span class="skills">C++</span>
                <span class="skills">Mathematics</span>
                <span class="skills">Project Management</span>
                <span class="skills">Python</span>
            </section>

            <section class="bottom-box-container">
              <p class="contact-box">Contacts</p>
              <div class="contact-links">
                <a href="https://www.linkedin.com/in/mprapada/" target="_blank" class="contact-item">
                  <span class="icon-placeholder">[linkedin logo] </span>
                </a>
                <a href="mailto:mprapada@student.hau.edu.ph" class="contact-item">
                  <span class="icon-placeholder">[email logo] </span>
                </a>
              </div>
            </section>

      </main>
  </body>
</html>