<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main Page</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>       
      <main class="portfolio-container">

        <section class="left-side-grid">
          <p class="greeting">Hi! I am</p>
          <h1 class="name">
            <span class="first-name">MikhaiL</span>
            <span class="last-name">Rapada</span>
          </h1>

          <p class="description">
              A versatile <span class="compeng">computer engineering student</span> that can handle both software and hardware aspects of technology.
          </p>
        </section>


      <section class="right-side-grid">

          <div class="box" style="grid-area: box-1">
            <a href="projects.html">
              <h2>3</h2>
              <p class="project-box-description">Completed Projects</p>
            </a>
          </div>

          <div class="box" style="grid-area: box-2;">
          <a href="tutoring.html" style="grid-area: box-2">
              <h2>2</h2>
              <p class="tutor-box-description">Years Tutoring</p>
            </a>
          </div>

          <div class="box" style="grid-area: box-3;">
              <p class="skills-label">SKILLS</p>
              <p class="code-text">
                <code class="skills">C++</code>
                <code class="skills">Mathematics</code>
                <code class="skills">Project Management</code>
                <code class="skills">Python</code>
              </p>
         </div>


         <div class="box" style="grid-area: box-4;">
              <p class="contacts-label">CONTACTS</p>
              <div class="contact-links">
                <a href="https://www.linkedin.com/in/mprapada/" target="_blank" class="contact-item">
                  <code class="contact-link">linkedin</code>
                </a>
                <a href="mailto:mprapada@student.hau.edu.ph" class="contact-item">
                  <code class="contact-link">email</code>
                </a>
              </div>
          </div>

      </section>
      </main>
  </body>
</html>