<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Projects</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <main class="projects-page">
        <nav class="navigation">
            <a href="home.html">← Back to Home</a>
        </nav>

        <h3 class="page-title">Projects</h3>

        <section class="projects-grid">

            <div class="project-card" style="grid-area: project-1">
                <img class="aqualert" img src="img/aqualert.png">
                <h1 class="project-title">AquAlert </h1><br>
                <p class="project-summary">A water level measuring device for monitoring flood levels during a storm.</p>
                <div class="project-details">
                    <p>
                    This device is designed to monitor water levels in real-time and provide alerts when the water reaches a certain threshold. It uses basic materials to measure the water level and sends notifications to users via a buzzer. The device is ideal for flood-prone areas, helping residents and authorities take timely action to prevent damage and ensure safety.
                    </p>
                </div>
            </div>

            <div class="project-card" style="grid-area: project-2">
                <img class="allersense" img src="img/allersense.jpg">
                <h1 class="project-title">AllerSense</h1><br>
                <p class="project-summary">A device for monitoring and alerting users about allergens in common foods.</p>
                
                <div class="project-details">
                    <p>
                    This device which uses arduino and MIT app inventor is designed to help individuals with food allergies by detecting allergens in common foods. This device is accompanied by an app that captures foods and interprets them using a machine learning model then sends food information to the device. The device then alerts the user if any allergens are detected, helping them make informed decisions about what they eat and avoid potential allergic reactions.
                    </p>
                </div>
            </div>

            <div class="project-card" style="grid-area: project-3">
                <img class="dropwise" img src="img/dropwise.jpg">
                <h1 class="project-title">DropWise</h1><br>
                <p class="project-summary">A water-monitoring device for monitoring water flow speed, and amount that flowed.</p>
                
                <div class="project-details">
                    <p>
                    This device uses Arduino and a flow sensor to monitor water flow speed and the total amount of water that has flowed through a pipe. It is designed to help users track their water usage, identify leaks, and conserve water. The device can be used in residential, commercial, and industrial settings, providing valuable data for managing water resources effectively.
                    </p>
                </div>
            </div>

        </section>
    </main>

</body>
</html>