
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, sans-serif; 
}


body {
    background-color: #0b0f19; 
    color: #ffffff; 
    min-height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

a {
    text-decoration: none;
    color: inherit;
}

.page-container, .portfolio-container {
    width: 100%;
    max-width: 1200px;
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 60px;
}

.greeting {
    margin-left: 4.4px;
    font-size: 1.2rem;
    color: #e0e4eb; 
    margin-bottom: 10px;
}

.name {
    font-size: 5.5rem; 
    font-weight: 900; /* Extra bold */
    line-height: 0.95; /* Keeps the first and last name tightly stacked */
    text-transform: uppercase;
    margin-bottom: 30px;
    letter-spacing: -1.5px; /* Pulls the letters slightly closer together */
}

.first-name{
    display: block;
    color: #ffffff;
}

.last-name{
    display: block;
    color: #f97316;
}

.description{
    margin-left: 10px;
    color: #d1d5db;
    font-size: 1rem;
    line-height: 1.6;
    max-width: 450px;
}

.page-container, .portfolio-container {
    width: 100%;
    max-width: 1200px;
    padding: 40px;
}


.portfolio-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 60px;
    align-items: center;
}

.page-container {
    display: flex;
    flex-direction: column;
    gap: 40px; 
}