
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, sans-serif; 
}

body {
    background-color: #0b0f19; 
    color: #ffffff; 
    min-height: 100vh; 
    display: flex;
    justify-content: center; 
}

.projects-page, .tutoring-page, .portfolio-container {
    width: 100%;
    max-width: 1200px;
    padding: 40px;
}

.portfolio-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 60px;
    align-items: center;
    min-height: 100vh; 
}

.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 50px; 
    margin-top: 20px; 
    grid-template-areas:
    "project-1 project-2 project-3" 
}

.project-card{
    background-color: #111520;
    padding: 20px;
    border-radius: 12px;
    border: 2px solid #1f1c1caf;
    transition: all .8s ease;
}


body {
    background-color: #0b0f19; 
    color: #ffffff; 
    min-height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

a {
    text-decoration: none;
    color: inherit;
}

.greeting {
    margin-left: 6.4px;
    font-size: 1.3rem;
    font-weight: 10px;
    color: #e0e4eb; 
    margin-bottom: 10px;
}

.name {
    font-size: 8.4rem; 
    font-weight: 850;
    line-height: 1; 
    text-transform: uppercase;
    margin-bottom: 15px;
    letter-spacing: -1.5px;
    background: linear-gradient(
        to right,
        #f97316,
        #f0bf38,
        #f97316
    );
    background-clip: text;
    color: transparent;
    background-size: 200% auto;
    animation: gradientAnimation 2s linear infinite;
    
}

@keyframes gradientAnimation {
    0%{
        background-position: 200% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.description{
    margin-left: 9px;
    color: #d1d5db;
    font-size: 1rem;
    line-height: 1.6;
}

.compeng{
    font-weight: bold;
}

.right-side-grid{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px;
    gap: 1em;
    grid-template-areas:
    "box-1 box-2"
    "box-3 box-3"
    "box-4 box-4"; 
}

.box{
    background-color: #111520;
    border: 1px solid #374151;
    padding: 30px;
    border-radius: 12px;
    transition: all 1s ease;
}

h2{
    font-size: 60px;
    color: #f0bf38
}

.box:hover{
    transform: translateY(-8px);
    box-shadow: 0 10px 50px rgba(249, 115, 22, 0.2);
    border-color: #f97316;
}

.skills-label {
    color: #6b7280;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.contacts-label{
    color: #6b7280;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.code-text {
    line-height: 1.9; 
}

.skills {
    display: inline; 
    font-family: Consolas; 
    background-color: #1a212c; 
    color: #f97316; 
    padding: 3px 6px; 
    border-radius: 4px;
    font-size: 0.85rem;
    border: 1px solid #334155;
    margin-right: 4px;
}

.contact-link{
    display: inline; 
    font-family: Consolas; 
    background-color: #f97316; 
    color: #1a212c; 
    padding: 3px 6px; 
    border-radius: 4px;
    font-size: 0.85rem;
    font-weight: boldpx;
    border: 1px solid #334155;
    margin-right: 4px;
}

.contact-link:hover{
    box-shadow: 0 10px 40px rgba(249, 115, 22, 0.2);
    border-color: #814214;
    background-color: #0b0f19;
    color: #f97316
}

.page-title{
    font-size: 80px;
    align-items: center;
    margin-bottom: 20px;
    letter-spacing: -1.5px;
    background: linear-gradient(
        to right,
        #1693f9,
        #02c8fa,
        #1693f9
    );
    background-clip: text;
    color: transparent;
    background-size: 200% auto;
    animation: gradientAnimation 2s linear infinite;
}

.aqualert{
    width: 300px;
    height: 160px;
    border-radius: 12px;
}

.allersense{
    width: 300px;
    height: 160px;
    border-radius: 12px;
}

.dropwise{
    width: 300px;
    height: 160px;
    border-radius: 12px;
}

.project-card:hover{
    transform: translateY(-8px);
    box-shadow: 0 10px 50px #264a4e8c;
    border-color: #519da7;
}

.project-summary, .project-details{
    text-align: justify;
}

.years, .title{
    font-size: 80px;
    align-items: center;
    margin-bottom: 20px;
    letter-spacing: -1.5px;
    background: linear-gradient(
        to right,
        #16f974,
        #0c8626,
        #16f974
    );
    background-clip: text;
    color: transparent;
    background-size: 200% auto;
    animation: gradientAnimation 2s linear infinite;
}

.years{
    font-size: 120px;
}

.tutoring-content{
    display: grid;
    gap: 1em;
    grid-template-areas:
    "tutortext-1"
}

.text-section{
    background-color: #0b0f19;
    border: #221f2e 2px solid;
    border-radius: 12px;
    padding: 20px;
    font-size: 20px;
    text-align: justify; 
    transition: all 1s ease; 
}

.text-section:hover{
    box-shadow: 0 10px 40px rgba(35, 163, 52, 0.2);
    border-color: #15b151;
    border-radius: 12px;
    transform: translateY(-8px);
}
