<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Tutoring Experience</title>
    <link rel="stylesheet" href="style.css">
</head>


<body>

<main class="page-container">
        <nav class="navigation">
            <a href="home.html">← Back to Home</a>
        </nav>


    <h1 class="years">2</h1>
    <h1 class="title">Years Tutoring</h1>
    <section class="tutoring-content">        
            <div class="text-section">
                <p>
                    I have been tutoring for 2 years, specializing in mathematics and physics. My tutoring sessions are designed to help students not only understand the concepts but also apply them effectively in problem-solving scenarios. 
                    I always make sure to create a comfortable and engaging learning environment, where students feel encouraged to ask questions and explore the subjects in depth. My goal is to help students build confidence in their abilities and achieve academic success.
                </p>
            </div>
        </section>
    </main>

</body>
</html>